doctype html
html
    head
        title #{subject} 
    body 
        p 姓名: #{name}
        p Email: 
            a(href=email) #{email}
        p 網址:
            a(href=url) #{url}
        p 欲拍攝影像類型: #{film_type}
        p 需求: #{description}
        p Start Date: #{start_date}
        p End Date Preference: #{end_date_preference}
        p Budget: #{budget}
        p Source: #{source} 